@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@font-face {
  font-family: 'Play-Bold';
  src: url('/fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'Digit';
  src: url('/fonts/Digit.ttf');
}

:root {
  --background: #171717;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Play-Bold', Helvetica, sans-serif;
  margin-bottom: 100px;
}
